/* 縦書きについて: https: //www.webcreatorbox.com/tech/writing-mode */

body {
    font-family: serif;
    text-align: center;
    background-color: #fff;
}

header {
    position: fixed;
    width: 100%;
    background-color: none;
}

.title,
.title p {
    /* vertical:縦書き、rl:右から左 */
    writing-mode: vertical-rl;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.title-area {
    /* タイトル位置固定 */
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-cover-container {
    display: flex;
    padding-top: 2000px;
    margin-bottom: 200px;
    /* margin: 0 auto; */

    /* position: sticky; */
}



.front-cover-container:hover {
    opacity: 0.99;
}

.volume_1 img:hover {
    opacity: 0.8;
}

.volume_2 img:hover {
    opacity: 0.8;
}

a {
    background-color: #fff;
    margin-right: 0%;
    margin-left: 0%;
    display: inline-block;
}

.svgall {
    position: relative;



}

.volume_1-illust {
    opacity: 0;
    animation: fadeIn 2.5s ease 0.3s 1 forwards;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -45%);

}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.vol1_1_dog {
    opacity: 0;
    animation: fadeIn 2.5s ease 0.3s 1 forwards;

}



/* volume_1.svg */
.volume_1_st0 {
    fill: #FFFFFF;
}

.volume_1_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 56.6929;
    stroke-miterlimit: 10;
}

/* vol1_1.svg */
.vol1_1_st0 {
    fill: #FFFFFF;
}

.vol1_1_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 164.4095;
    stroke-miterlimit: 10;
}

.vol1_1_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 218.2677;
    stroke-miterlimit: 10;
}

.vol1_1_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 56.6929;
    stroke-miterlimit: 10;
}

.vol1_1_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 45.3543;
    stroke-miterlimit: 10;
}

.vol1_1_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 39.685;
    stroke-miterlimit: 10;
}

.vol1_1_st6 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 53.8583;
    stroke-miterlimit: 10;
}

/* vol1_2.svg */
.vol1_2_st0 {
    fill: #FFFFFF;
}

.vol1_2_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 345.8268;
    stroke-miterlimit: 10;
}

.vol1_2_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 59.5276;
    stroke-miterlimit: 10;
}

.vol1_2_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 45.3543;
    stroke-miterlimit: 10;
}

.vol1_2_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 48.189;
    stroke-miterlimit: 10;
}

.vol1_2_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 42.5197;
    stroke-miterlimit: 10;
}

/* vol1_3.svg */
.vol1_3_st0 {
    fill: #FFFFFF;
}

.vol1_3_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 155.9055;
    stroke-miterlimit: 10;
}

.vol1_3_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 229.6063;
    stroke-miterlimit: 10;
}

.vol1_3_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 51.0236;
    stroke-miterlimit: 10;
}

.vol1_3_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 62.3622;
    stroke-miterlimit: 10;
}

.vol1_3_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 56.6929;
    stroke-miterlimit: 10;
}

.vol1_3_st6 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 45.3543;
    stroke-miterlimit: 10;
}

.vol1_3_st7 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 31.1811;
    stroke-miterlimit: 10;
}

.vol1_3_st8 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 28.3465;
    stroke-miterlimit: 10;
}

.vol1_3_st9 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 36.8504;
    stroke-miterlimit: 10;
}

/* vol1_4.svg */
.vol1_4_st0 {
    fill: #FFFFFF;
}

.vol1_4_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 147.4016;
    stroke-miterlimit: 10;
}

.vol1_4_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 158.7402;
    stroke-miterlimit: 10;
}

.vol1_4_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 70.8661;
    stroke-miterlimit: 10;
}

.vol1_4_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 93.5433;
    stroke-miterlimit: 10;
}

.vol1_4_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 42.5197;
    stroke-miterlimit: 10;
}

.vol1_4_st6 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 36.8504;
    stroke-miterlimit: 10;
}

/* vol1_5.svg */
.vol1_5_st0 {
    fill: #FFFFFF;
}

.vol1_5_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 113.3858;
    stroke-miterlimit: 10;
}

.vol1_5_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 90.7087;
    stroke-miterlimit: 10;
}

.vol1_5_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 79.3701;
    stroke-miterlimit: 10;
}

.vol1_5_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 73.7008;
    stroke-miterlimit: 10;
}

.vol1_5_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 48.189;
    stroke-miterlimit: 10;
}

/* vol1_6.svg */
.vol1_6_st0 {
    fill: #FFFFFF;
}

.vol1_6_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 150.2362;
    stroke-miterlimit: 10;
}

.vol1_6_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 93.5433;
    stroke-miterlimit: 10;
}

.vol1_6_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 65.1969;
    stroke-miterlimit: 10;
}

.vol1_6_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 39.685;
    stroke-miterlimit: 10;
}

.vol1_6_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 48.189;
    stroke-miterlimit: 10;
}

/* vol1_7.svg */
.vol1_7_st0 {
    fill: #FFFFFF;
}

.vol1_7_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 59.5276;
    stroke-miterlimit: 10;
}



/* volume_2.svg */
.volume_2_st0 {
    fill: #FFFFFF;
}

.volume_2_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 53.8583;
    stroke-miterlimit: 10;
}

/* vol2_1.svg */
.vol2_1_st0 {
    fill: #FFFFFF;
}

.vol2_1_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 433.7008;
    stroke-miterlimit: 10;
}

.vol2_1_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 79.3701;
    stroke-miterlimit: 10;
}

.vol2_1_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 65.1969;
    stroke-miterlimit: 10;
}

.vol2_1_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 73.7008;
    stroke-miterlimit: 10;
}

.vol2_1_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 56.6929;
    stroke-miterlimit: 10;
}

.vol2_1_st6 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 51.0236;
    stroke-miterlimit: 10;
}

.vol2_1_st7 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 42.5197;
    stroke-miterlimit: 10;
}

/* vol2_2.svg */
.vol2_2_st0 {
    fill: #FFFFFF;
}

.vol2_2_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 274.9606;
    stroke-miterlimit: 10;
}

.vol2_2_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 68.0315;
    stroke-miterlimit: 10;
}

.vol2_2_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 53.8583;
    stroke-miterlimit: 10;
}

.vol2_2_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 65.1969;
    stroke-miterlimit: 10;
}

/* vol2_3.svg */
.vol2_3_st0 {
    fill: #FFFFFF;
}

.vol2_3_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 394.0157;
    stroke-miterlimit: 10;
}

.vol2_3_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 59.5276;
    stroke-miterlimit: 10;
}

.vol2_3_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 70.8661;
    stroke-miterlimit: 10;
}

.vol2_3_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 51.0236;
    stroke-miterlimit: 10;
}

.vol2_3_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 45.3543;
    stroke-miterlimit: 10;
}

.vol2_3_st6 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 34.0157;
    stroke-miterlimit: 10;
}

/* vol2_4.svg */
.vol2_4_st0 {
    fill: #FFFFFF;
}

.vol2_4_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 223.937;
    stroke-miterlimit: 10;
}

.vol2_4_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 73.7008;
    stroke-miterlimit: 10;
}

.vol2_4_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 51.0236;
    stroke-miterlimit: 10;
}

.vol2_4_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 62.3622;
    stroke-miterlimit: 10;
}

.vol2_4_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 56.6929;
    stroke-miterlimit: 10;
}

.vol2_4_st6 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 48.189;
    stroke-miterlimit: 10;
}

/* vol2_5.svg */
.vol2_5_st0 {
    fill: #FFFFFF;
}

.vol2_5_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 257.9528;
    stroke-miterlimit: 10;
}

.vol2_5_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 93.5433;
    stroke-miterlimit: 10;
}

.vol2_5_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 68.0315;
    stroke-miterlimit: 10;
}

.vol2_5_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 51.0236;
    stroke-miterlimit: 10;
}

.vol2_5_st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 53.8583;
    stroke-miterlimit: 10;
}

.vol2_5_st6 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 48.189;
    stroke-miterlimit: 10;
}

/* vol2_6.svg */
.vol2_6_st0 {
    fill: #FFFFFF;
}

.vol2_6_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 56.6929;
    stroke-miterlimit: 10;
}

.vol2_6_st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 59.5276;
    stroke-miterlimit: 10;
}

.vol2_6_st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 65.1969;
    stroke-miterlimit: 10;
}

.vol2_6_st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 45.3543;
    stroke-miterlimit: 10;
}

/* vol2_7.svg */
.vol2_7_st0 {
    fill: #FFFFFF;
}

.vol2_7_st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 59.5276;
    stroke-miterlimit: 10;
}